
@font-face {
  font-family: 'iconfont';
  src: url('/static/ali-icon/iconfont.ttf') format('truetype');  /* 使用的ttf，所以这里的路径不能出错了 */
}


.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lujing:before {
  content: "\e625";
}

.icon-icon-test:before {
  content: "\e626";
}

.icon-icon-test1:before {
  content: "\e627";
}

.icon-icon-test2:before {
  content: "\e628";
}

.icon-icon-test3:before {
  content: "\e629";
}

.icon-icon-test4:before {
  content: "\e62a";
}

.icon-x:before {
  content: "\e62b";
}

.icon-fenzu:before {
  content: "\e615";
}

.icon-fenzux:before {
  content: "\e616";
}

.icon-shouyex:before {
  content: "\e617";
}

.icon-fenzu1:before {
  content: "\e618";
}

.icon-youxi:before {
  content: "\e619";
}

.icon-wode:before {
  content: "\e61a";
}

.icon-shouyex1:before {
  content: "\e61b";
}

.icon-wode1:before {
  content: "\e61c";
}

.icon-youxi1:before {
  content: "\e61d";
}

.icon-fenzu2:before {
  content: "\e61e";
}

.icon-hebingxingzhuang:before {
  content: "\e61f";
}

.icon-fenzu3:before {
  content: "\e620";
}

.icon-gouwu:before {
  content: "\e621";
}

.icon-jingdian:before {
  content: "\e622";
}

.icon-xingzhuang:before {
  content: "\e623";
}

.icon-hebingxingzhuang1:before {
  content: "\e624";
}

